body {
    background: #1C1C1C;
    display: flex;
    justify-content: space-around;
    margin: 65px
}

#div-1 {
    width: 490px;
    height: 395px;
    margin-top: 40px;
    padding-left: 60px;
    padding-top: 50px;
    background-color: #1F2937;
    border-radius: 10px;
    box-shadow: 0 0 25px #D5D4D8
}

#main {
  font-family: 'Karla', sans-serif;
  color: white;
  text-shadow: 2px 2px 5px #10B981;
  margin-bottom: 0px;
}

#span {
    color: #4ADF86;
    text-shadow: 0px 0px;
}

p {
    font-family: 'Inter', sans-serif;
    color: #D5D4D8;
    margin-top: -8px;
    margin-bottom: 50px;
    font-size: 18px
}

#generator {
    background: #10B981;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 9px 15px;
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif; 
    transition: transform 0.8s
}

#generator:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px inset peachpuff;
    cursor: pointer
}

hr {
    width: 448px;
    border: 0.5px solid #273549;
    margin: 0;
}

#passwordOne, #passwordTwo {
    background: #273549;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px inset #4ADF86;
    height: 38px;
    width: 210px;
    margin-top: 35px;
    margin-right: 23px;
    font-family: 'Inter', sans-serif;
    color: #10B981;
    font-size: 15px
    
}
